* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
@font-face {
    font-family: 'league_gothicregular';
    src: url('leaguegothic-regular-webfont-webfont.eot');
    src: url('leaguegothic-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont-webfont.woff2') format('woff2'),
         url('leaguegothic-regular-webfont-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff'),
         url('opensans-light-webfont.ttf') format('truetype'),
         url('opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensans-extrabold-webfont.eot');
    src: url('opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabold-webfont.woff2') format('woff2'),
         url('opensans-extrabold-webfont.woff') format('woff'),
         url('opensans-extrabold-webfont.ttf') format('truetype'),
         url('opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
.clear {
	clear: both;
}
.footer .clear {
	display: none;
}
.wrapper-header {
	background: url(img/mountains.png) 0 0 no-repeat;
	background-size: cover;
}	    
.header, .slider-content-photo, .slider-nav {
	margin: 0 auto;
	max-width: 960px;
}
.header {
	margin-bottom: 170px;
	padding-top: 70px;
}
.header-logo {
	width: 151px;
	height: 39px;
	display: block;
	float: left;
	background: url(img/logo.png) no-repeat;
}
.nav {
	float: right;
}
.header .nav {
	margin-top: -2px;
}
body {
	font-size: 16px;
}
.nav-item {
	margin-left: 0%;
	margin-right: 1.7em;
	display: inline-block;
	font: normal 24px 'league_gothicregular';
	text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	
}
.nav-item:last-child {
	margin-right: 0;
}
.nav-item a {
	padding: 5px 5px 0 5px;
	display: block;
	color: #ffffff;
	border-bottom: 2px solid transparent;
}
.nav-item a:hover {
	border-bottom: 2px solid #edbfff;
}
.wrapper-slider {
	background-color: rgba(0,0,0,0.2);
	position: relative;
}
.slider-photo {
	float: right;
	display: block;
	margin-top: -17px;
	margin-right: 7.81%;
	width: 261px;
	height: 373px;
}
.slider-content {
	margin-top: 80px;
	margin-bottom: 80px;
	width: 52.08%;
	float: left;
}
.slider-content-title {
	font: normal 60px/55px 'league_gothicregular';
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	letter-spacing: -0.6px;
	color: #fefefe;
}
.slider-content-subtitle {
	font: normal 32px 'league_gothicregular';
	letter-spacing: -0.05px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	color: #edbfff;
}
.slider-content p {
	font: normal 18px/24px 'open_sanslight';
	letter-spacing: -0.1px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	color: #ffffff;
}

.scrollbar-left {
	background: url(img/scrollbar-left.png) no-repeat;
	display: block;
	width: 26px;
	height: 37px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 3%;
}
.scrollbar-right {
	background: url(img/scrollbar-right.png) no-repeat;
	display: block;
	width: 26px;
	height: 37px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 3%;
}
.slider-nav {
	margin-top: 95px;
	padding-bottom: 55px;
}
.slider-nav ul {
	padding-right: 17.1%;
	float: right;	
}
.slider-nav li {
	padding-left: 2px;
	display: inline-block;
}
.nav-pagination-item {
	display: block;
	background: url(img/nav-link.png);
	width: 17px;
	height: 17px;
}
.nav-pagination-item:active {
	background: url(img/nav-link-hover.png);
}
.wrapper-about-company {
	border-top: 1px solid #33253a;
	border-bottom: 1px solid #33253a;
	-webkit-box-shadow: 0px 16px 38px -12px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 16px 38px -12px rgba(0,0,0,0.5);
	box-shadow: 0px 16px 38px -12px rgba(0,0,0,0.5);
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #745083 0%, #322539 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#745083 0%,#322539 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#745083 0%,#322539 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#322539',GradientType=0 ); /* IE6-9 */
}
.about-company {
	margin: 0 auto;
	margin-top: 74px;
	margin-bottom: 65px;
	padding-left: 1%;
	max-width: 947.41px;
}
.about-company li {
	margin-right: 6.8%;
	width: 28.8%;
	float: left;
}
.about-company li:last-child {
	margin-right: 0;
}
.about-company-title {
	padding-bottom: 5px;
	font: normal 30px 'league_gothicregular';
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(15, 21, 24, 1);
}
.about-company p {
	font: normal 16px/24px 'open_sanslight';
	letter-spacing: -0.1px;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(15, 21, 24, 1);
}
.about-company-sprite-news, .about-company-sprite-music, .about-company-sprite-settings {
	margin-top: 11px;
	margin-right: 9.09%;
	height: 100%;
	float: left;
	display: block;
}
.about-company-sprite {
	display: block;
	width: 25px;
	height: 25px;
	background: url(img/sprite.png) 0 0 no-repeat;
}
.about-company-sprite-news .about-company-sprite {
	width: 27px;
	background-position: -27px 0;
}
.about-company-sprite-music .about-company-sprite {
	height: 26px;
	background-position: -56px 0;
}
.about-company-content {
	margin-left: 18%;
}
.more {
	margin-top: 17px;
	margin-right: 1%;
	float: right;
	font: normal 18px 'league_gothicregular';
	color: #ffffff; 
	text-shadow: 0px 1px 1px rgba(15, 21, 24, 1);
}
.more:hover {
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.wrapper-comment {
	background-color: #f9f9f9;
}	
.comment {
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 70px;
	padding-left: 1.7%;
	padding-right: 0.5%;
	max-width: 930.9px;
}
.comment-author, .comment-text {
	float: left;
}
.comment-author {
	width: 46%;
}
.comment-text {
	margin-left: 6.5%;
	width: 47.5%;
}
.comment-author-content {
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 35px;
	padding-left: 9.5%;
	padding-right: 9%;
	position: relative;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05); 
	background-color: #ffffff; 
}
h4 {
	font: normal 30px/30px 'league_gothicregular';
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	text-transform: uppercase;
}
.title-color-accent {
	color: #edbfff;
}
.content-text {
	padding-top: 8px;
	font: normal 16px/24px 'open_sanslight';
	letter-spacing: -0.5px;
	word-wrap: break-word; 
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1); 
}
.pingbuller-cofinder {
	position: absolute;
	top: 19px;
	left: -24px;
	width: 49px;
	height: 50px;
}
.triangle {
	position: absolute;
	bottom: -21px;
	right: 9%;
	width: 21px;
	height: 21px;
	background: url(img/triangle.png) no-repeat;
}
.nav-light a {
	background: url(img/nav-link-light.png);
	width: 19px;
	height: 20px;
}
.nav-light a:active {
	background: url(img/nav-link-light-hover.png) no-repeat;
}
.nav-light {
	padding-top: 22px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	margin: 0 auto;
	text-align: center;
}
.nav-light ul {
	float: none;
	padding: 0;
}
.nav-light li {
	padding-left: 0.69%;
	padding-bottom: 0;
}
.nav-light li:first-child {
	padding-left: 0;
}
.comment-text .comment-title {
	margin-top: 30px;
	margin-left: -0.5%;
}
.comment-text ul {
	margin-top: 16px;
}
.comment-text ul .wrapper-marker {
	width: 12%;
	display: block;
	float: left;
}
.comment-text h5 {
	font: normal 16px 'open_sansextrabold';
	color: #454545;
}
.comment-text p {
	font: normal 16px/26px 'open_sanslight';
	color: #454545;
	letter-spacing: -0.1px;
}
.comment-text li {
	margin-bottom: 16px;
}
.recent-news, .category, .blog-updates {
	float: left;
	margin-left: 2.7%;
	width: 83.78%;
}
.first-marker {
	display: block;
	width: 49px;
	height: 49px;
}
.second-marker {
	display: block;
	width: 49px;
	height: 49px;
}
.third-marker {
	display: block;
	width: 49px;
	height: 49px;
}
.update-more {
	margin-right: 3.5%;
	margin-top: 5px;
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
.wrapper-logo-links {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #d8d8d8;
	height: 120px;
	background-color: #f9f9f9; 
}
.logo-links {
	margin: 0 auto;
	padding-right: 7.545%;
	padding-left: 7.545%;
	max-width: 780px;
	line-height: 120px;
	vertical-align: middle;
}
.logo-links ul {
	margin-top: -5px;
}
.logo-links ul li {
	display: inline-block;
	line-height: 120px;
	margin-right: 8.2%;
}
.logo-links ul li:last-child {
	margin-right: 0;
}
.logo-links a {
	display: block;
	vertical-align: middle;
}
.logo-links img {
	display: inline-block;
	line-height: 120px;
	vertical-align: middle;
}
.logo-bllabong {
	width: 70px;
	height: 63px;
}
.logo-dg {
	width: 72px;
	height: 66px;
}
.logo-tree {
	width: 65px;
	height: 65px;
}
.logo-awsm {
	width: 50px;
	height: 63px;
}
.logo-rvca {
	width: 103px;
	height: 21px;
}
.logo-vonzipper {
	width: 79px;
	height: 61px;
}
.wrapper-comments-news {
	background-color: #ececec; 
}
.comments-news {
	margin: 0 auto;
	padding-top: 97px;
	padding-bottom: 95px;
	max-width: 960px;
	-webkit-box-shadow: 0 15px 15px -15px #000;
	-moz-box-shadow:    0 15px 15px -15px #000;
	box-shadow:         0 15px 15px -15px #000;
}
.company-info, .comments, .news {
	float: left;
	width: 29.16666%;
}
.company-info, .comments {
	margin-right: 6.1%;
}
.company-info h1 {
	font: normal 48px/45px "league_gothicregular";
	letter-spacing: -0.5px;
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
.company-info h1 span {
	color: #b9b9b9;
}
.copyright {
	padding-top: 14px;
	font: italic 16px Georgia;
	color: #c5c5c5;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
.comments-news .content-text {
	letter-spacing: -0.1px;
}
.wrapper-footer {
	height: 114px;
	background: url(img/footer-img.png);
	background-size: cover;
}
.footer {
	margin: 0 auto;
	max-width: 960px;
	line-height: 114px;
}
.footer .nav {
	margin-left: -5px;
	float: left;

}
.footer-nav-item {
	font-size: 20px;
	margin-right: 1.65em;
}
.designed {
	padding-top: 5px;
	float: right;
	font: normal 12px "open_sanslight";
	color: #ffffff;
}
.designed span {	
	font-family: "open_sansextrabold";
	line-height: 109px;
}
@media (max-width: 1125px) and (min-width: 768px){
	.scrollbar-left, .scrollbar-right {
		display: none;
	}
}
@media (max-width: 959px){
	body {
		font-size: 13px; 
	}
	.header {
		margin-bottom: 73px;
		padding-left: 2.6041666%;
	}
	.header-logo, .nav {
		float: none;
	}
	.header .nav {
		margin-top: 27px;
		margin-left: -5px;
	}
	.nav-item {
		margin-right: 1.72em;
	}
	.slider-content-title {
		font-size: 48px;
		line-height: 57px;
		letter-spacing: -0.3px;
	}
	.slider-content-subtitle {
		font-size: 24px;
	}
	.slider p {
		padding-top: 5px;
		font-size: 16px;
		line-height: 26px;
		word-wrap: break-word;
	}
	.scrollbar-left {
		left: 0;
		display: block;
	}
	.scrollbar-right {
		right: 0;
		display: block;
	}
	.slider-content {
		margin: 0;
		margin-left: 5.6%;
		margin-top: 95px;
		margin-bottom: 111px;
		width: 37.2%;
	}
	.slider-photo {
		margin-top: -23px;
		margin-right: 4.5%;
	}
	.slider-nav {
		margin-top: 38px;
		padding-bottom: 99px;
		padding-right: 0;
	}
	.slider-nav ul {
		padding-right: 16.9%;
	}
	.about-company {
		padding-left: 4.19%;
		margin-bottom: 65px;
	}
	.about-company-content {
		margin-left: 24%;
	}
	.about-company-title {
		padding-bottom: 0;
		font-size: 24px;
	}
	.about-company-sprite-news, .about-company-sprite-music, .about-company-sprite-settings {
		margin-top: 5px;
		margin-right: 12%;
	}
	.more {
		margin-right: 6%;
		margin-top: 6px;
	}
	.comment-author {
		width: 47%;
	}
	.comment-text {
		margin-left: 7.5%;
		width: 45.5%;	
	}
	.comment-text ul {
		margin-top: 15px;
	}
	.comment-text .comment-title {
		margin-left: 0;
		font-size: 30px;
	}
	.comment-author-content {
		padding-top: 28px;
		padding-bottom: 44px;
		padding-left: 20%;
	}
	.comment-author .comment-title {
		width: 50%;
		line-height: 26px;
	}
	.pingbuller-cofinder {
		left: 5px;
	}
	.comment-title {
		font-size: 24px;
	}
	.comment-author-content .content-text {
		margin-left: -1%;
		padding-top: 5px;
	}
	.triangle {
		display: none;
	}
	.nav-light {
		padding-top: 0;
		padding-right: 0;
		margin-top: 23px;
		padding-bottom: 70px;
		margin-left: 7.5%;
	}
	.nav-light ul {
		padding-right: 0;
	}
	.recent-news, .category, .blog-updates {
		margin-left: 5%;
		width: 79.5%;
	}
	.comment-text li {
		margin-bottom: 19px;
	}
	.comment-text ul .wrapper-marker {
		width: 14.65%;
	}
	.update-more {
		margin-right: 2%;
		margin-top: -3px;
	}
	.update-more a {
		font-size: 20px;
	}
	.comment {
		padding-bottom: 0;
	}
	.logo-links {
		padding-left: 2.5%;
		padding-right: 0;
		padding-top: 28px;
		line-height: 0;
		vertical-align: top;
	}
	.logo-links ul {
		text-align: center;
		width: 99.2%;
	}
	.logo-links ul li {
		margin-right: 7.5%;
		line-height: 0;
	}
	.comments-news {
		padding-top: 97px;
		padding-bottom: 93px;
		margin-left: 2.1%;
	}
	.company-info, .comments {
		margin-right: 8%;
	}
	.company-info, .comments, .news {
		width: 28%;
	} 	
	.content-text {
		padding-top: 6px;
	}
	.wrapper-footer {
		background: url(img/footer-img768.png);
		height: 200px;
	}
	.footer {
		margin-left: 2.4%;
		height: 200px;
	}
	.footer .nav {
		margin-top: 2px;
		height: 198px;
	}
	.footer-nav-item {
		margin-right: 1.66em;
	}
	.designed {
		padding-top: 54px;
		padding-right: 0.9%;
	}
}
@media (max-width: 767px){
	.header {
		padding-top: 70px;
		padding-left: 0;
	}
	.header-logo {
		float: none;
		margin: 0 auto;
	}
	.nav {
		float: none;
		text-align: center;
	}
	.slider-content-title {
		font-size: 36px;
		line-height: 36px;
	}
	.slider-content-subtitle {
		font-size: 18px;
		line-height: 22px;
	}
	.slider-content {
		margin-left: 6.5%;
		margin-bottom: 92px;
		width: 48%;
	}
	.slider-photo {
		margin-top: -10px;
		margin-bottom: -5px;
		padding-right: 1%;
		width: 182px;
		height: 100%;
	}
	.slider-content p {
		display: none;
	}
	.slider-nav {
    	margin-top: 22px;
    	padding-bottom: 58px;
    	padding-right: 0;
	}
	.slider-nav ul {
		margin: 0;
		padding: 0;
		float: none;
		text-align: center;
	}
	.slider-nav li:first-child {
		padding-left: 0;
	}
	.about-company {
		padding-left: 5.5%;
		margin-bottom: 44px;
	}
	.about-company-content {
		padding-bottom: 0;
		margin-bottom: 24px;
		margin-left: 11.5%;
	}
	.about-company-sprite-news, .about-company-sprite-music, .about-company-sprite-settings {
		margin-right: 5.5%;
	}
	.about-company li {
		margin-right: 0;
		width: 97.6%;
		float: none;
	}
	.about-company p {
		line-height: 25px;
	}
	.more {
		margin-right: 2%;
		margin-top: 11px;
	}
	.comment-author, .comment-text {
		float: none;
	}
	.comment {
		padding-top: 73px;
		padding-bottom: 47px;
	}
	.comment-author {
		width: 98%;
	}
	.comment-author-content {
		padding-top: 25px;
		padding-left: 15%;
	}
	.comment-title {
		font-size: 30px;
	}
	.comment-author .comment-title {
		width: 100%;
	}
	.comment-author-content .content-text {
		margin-left: 0;
		padding-top: 17px;
		letter-spacing: -0.1px;
	}
	.nav-light {
		padding-top: 0;
		margin-top: 11px;
		padding-bottom: 44px;
		padding-right: 3.5%;
	}
	.comment-text {
		margin-left: 14.5%;
		width: 85.5%;
		padding-bottom: 40px;
	}
	.comment-text ul .wrapper-marker {
		width: 12.66%;
	}
	.comment-text .comment-title {
		margin-top: 0;
	}
	.recent-news, .category, .blog-updates {
		padding-left: 0;
		width: 69%;
	}
	.update-more {
		margin-right: 12%;
		margin-top: -3px;
	}
	.pingbuller-cofinder {
		left: 2px;
		top: 15px;
	}
	.wrapper-logo-links {
		height: 232px;
	}
	.logo-links {
		padding-left: 0;
		padding-top: 0;
		line-height: 66px;
	}
	.logo-links ul {
		margin: 0 auto;
		margin-top: 35px;
		text-align: center;
		width: 75.6%;
		max-width: 480px;
	}
	.logo-links ul li {
		margin-right: 15%;
		margin-top: 0;
		padding-bottom: 25px;
		line-height: 66px;
	}
	.logo-links ul li:nth-child(3n) {
		margin-right: 0;
	}
	.comments-news {
		padding-top: 80px;
		padding-bottom: 86px;
	}
	.company-info, .comments, .news {
		margin-bottom: 57px;
		float: none;
		width: 100%;
	}
	.comments-news h1, .comments-news h4 {
		font-size: 26px;
		line-height: 24px;
	}
	.copyright {
		padding-top: 10px;
	}
	.comments-news .content-text {
		padding-top: 3px;
	}
	.comments .content-text, .news .content-text {
		padding-top: 10px;
	}
	.news {
		margin-bottom: 0;
	}
	.footer {
		margin-left: 0;
		line-height: normal;
	}
	.footer .nav {
		margin: 0 auto;
		padding-top: 40px;
		width: 100%;
		height: 60px;
	}
	.footer-nav-item {
		margin-right: 0.74em;
	}
	.designed {
		padding: 0;
		text-align: center;
		float: none;
	}
	.designed span {
		line-height: normal;
	}
}
@media (min-width: 480px) and (max-width: 767px){	
	.header {
		margin-bottom: 95px;
		position: relative;
		padding-bottom: 0;
	}
	.header .nav {
		position: absolute;
		left: 0;
		right: 0;
		width: 50%;
		margin: auto;
		padding: 0;
		z-index: 3;
		top: 130px;
		width: 245px;
		border: 1px solid rgba(5,17,22,1);
		border-radius: 7px;
		background-color: rgba(54,41,62,0.9);
	}
	.header .nav-item {
		margin: 0;
		display: block;	
		height: 40px;	
		border-top: solid 1px #3f3247;
		border-bottom: solid 1px #36283e;
	}
	.header .nav-item:last-child {
		border-bottom: none;
	}
	.header .nav a {
		padding: 0;
		display: block;
		line-height: 38px;
	}
	.header .nav-item a:hover {
		background: rgba(0,0,0,0.3);
	} 
	.header .nav a:active span {
		display: inline-block;
		padding-top: 13px;
		padding-bottom: 2px;	
		padding-left: 5px;
		padding-right: 5px;
		line-height: 24px;
		border-bottom: solid 2px  #edbfff;
	}
	.header .nav a:active {
		min-height: 45px;
	}
	.header .nav li:active {
		min-height: 45px;
	}
}
@media (max-width: 479px) {
	.header {
		padding-top: 70px;
		margin-bottom: 126px;
	}
	.header .nav {
		margin: 0;
		padding: 0;
		margin: 35px auto 0;
	}
	.nav li {
		display: none;
		margin: 0;
		padding: 0;
	}
	.nav :first-child {
		display: inline;
		text-align: center;
		padding: 0 3px 3px 3px;
	}
	.nav a {
		display: inline-block;
		padding-bottom: 0;
		border-bottom-width: 2px; 
	}
	.nav-item a:hover {
		border-bottom-width: 2px;
	}
	.slider-photo {
		display: none;
	}
	.wrapper-slider {
		background: none;
	}
	.slider {
		padding-bottom: 0;
		padding-top: 0;
	}
	.slider-content {
		margin-top: 0;
		margin-bottom: 0;
		width: 70%;
		margin-left: 19%;
		margin-right: 11%;
	}
	.slider-nav {
		margin-top: 77px;
		padding-bottom: 66px;		
		padding-right: 0;
	}
	.slider-nav ul {
		float: none;
		text-align: center;
	}
	.about-company {
		padding-left: 7.5%;
		margin-top: 68px;
		margin-bottom: 62px;
	}
	.about-company-sprite-news, .about-company-sprite-music, .about-company-sprite-settings {
		margin-right: 9.5%;
	}
	.about-company-content {
		margin-left: 19%;
		margin-bottom: 0;
	}
	.about-company li {
		margin-bottom: 31px;
	}
	.about-company li:last-child {
		margin-bottom: 0;
	}
	.more {
		margin-right: 6%;
		margin-top: 10px;
	}
	.comment {
		padding-bottom: 46px;
	}
	.comment-author-content {
		padding-top: 22px;
		padding-bottom: 23px;
		padding-left: 24.5%;
		padding-right: 14%;
	}
	.comment-author-content .comment-title {
		margin-left: -1%;
		width: 50%;
		font-size: 24px; 
		line-height: 24px;
	}
	.pingbuller-cofinder {
		left: 7px;
	}
	.comment-author-content .content-text {
		padding-top: 5px;
		margin-left: -1%;
		letter-spacing: 0.05px;
	}
	.comment-author-content .comment-title {
		margin-left: -3%;
	}
	.nav-light {
		margin-top: 0;
		margin-top: 26px;
		padding-bottom: 44px;
		margin-left: 0;
	}
	.comment-text {
		margin-left: 2.5%;
		width: 97.5%;
	}
	.comment-text ul .wrapper-marker {
		width: 16.96%;
	}
	.recent-news, .category, .blog-updates {
		padding-left: 0;
		margin-left: 6%;
		width: 74.7%;
	}
	.comment-text .comment-title {
		margin-left: -0.5%;
	}
	.update-more {
		margin-right: 4%;
		margin-top: -2px;
		font-size: 18px;
	}
	.comment-text ul {
		margin-top: 17px;
	}
	.comment-text li {
		margin-bottom: 18px;
	}
	.wrapper-comments-news {
		display: none;
	}
	.footer .nav {
		display: none;
	}
	.footer-nav-item:first-child {
		display: none;
	}
	.wrapper-logo-links {
		height: 421px;
	}
	.logo-links {
		height: 371px;
	}
	.logo-links ul {
		margin-top: 50px;
		width: 79%;
	}
	.logo-links ul li {
		padding-bottom: 50px;
		margin-right: 22.7%;
	}
	.logo-links ul li:nth-child(3) {
		margin-right: 22.9166667%;
	}
	.logo-links ul li:nth-child(2n) {
		margin-right: 0; 
	}
	.designed {
		padding-top: 39px;
		letter-spacing: -0.1px;
	}
}

