* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
@font-face {
    font-family: 'league_gothicregular';
    src: url('leaguegothic-regular-webfont-webfont.eot');
    src: url('leaguegothic-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont-webfont.woff2') format('woff2'),
         url('leaguegothic-regular-webfont-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
.clear {
	clear: both;
}
.wrapper-header-slider {
	background: url(img/mountains.png) 0 0 no-repeat;
	background-size: cover;
	padding-top: 
}	    
.header, .slider {
	margin: 0 auto;
	max-width: 960px;
}
.header {
	padding-bottom: 170px;
	padding-top: 70px;
}
.header-logo {
	width: 151px;
	height: 39px;
	float: left;
	background: url(img/logo.png) no-repeat;
}
.header-nav {
	float: right;
}
body {
	font-size: 16px;
}
.header-nav-item {
	margin-left: 0%;
	display: inline-block;
	font: normal 1.5em 'league_gothicregular';
	text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	margin-right: 1.66667em;
}
.header-nav-item:last-child {
	margin-right: 0;
}
.header-nav-item a {
	padding: 5px 5px 0 5px;
	display: block;
	color: #ffffff;
	border-bottom: 3px solid transparent;
}
.header-nav-item a:hover {
	border-bottom: 3px solid #edbfff;
}
@media (max-width: 960px){

}

@media (max-width: 768px){
	.header {
		padding-bottom: 80px;
	}
	.header-logo, .header-nav {
		float: none;
	}
	.header-nav {
		margin-top: 40px;
	}
}
@media (max-width: 480px){
	.header-logo {
		float: none;
		margin: 0 auto;
	}
	.header {
		position: relative;
	}
	.header-nav {
		position: absolute;
		left: 0;
		right: 0;
		width: 50%;
		margin: auto;
		padding: 0;
		top: 130px;
		float: none;
		width: 245px;
		text-align: center;
		border: 1px solid rgba(5,17,22,1);
		border-radius: 7px;
		background-color: rgba(54,41,62,0.9);
	}
	.header-nav-item {
		margin: 0;
		display: block;	
		height: 40px;	
		border-top: solid 1px #3f3247;
		border-bottom: solid 1px #36283e;
	}
	.header-nav-item:last-child {
		border-bottom: none;
	}
	.header-nav a {
		padding: 0;
		display: block;
		line-height: 37px;
	}
	.header-nav-item a:hover {
		background: rgba(0,0,0,0.3);
	} 
	.header-nav a:active span {
		border-bottom: solid 3px  #edbfff;
		margin-bottom: 3px;
	}
	.header-nav a:active {
		height: 50px;
	}
	.header-nav li.active a {
		height: 50px;
	}
}
@media (max-width: 320px){
	.header-nav {
		padding: 0;
		margin: 0 auto;
		position: none;
		text-align: center;
		border: none;
		background-color: transparent;
	}
	.header-nav li {
		display: none;
}
	.header-nav :first-child {
		display: block;
		text-align: center;
	}
}

