* {
	margin: 0;
	padding: 0;
}

.wrapper-main {
	background-color: #eeeeee;
	padding-top: 5px;
	padding-bottom: 50px;
}
.wrapper {
	margin: 0 auto 0;
	padding-bottom: 50px;
	width: 515px;
	border: 1px solid #cecece;
	background-color: #ffffff;
}
.title {
	margin: 50px auto 20px;
	text-align: center;
	font-size: 25px;
}
.photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0;
    border: none;
}
.main-content {
	margin-top: 10px;
	margin-right: 65px;
	margin-left: 65px;
	margin-bottom: 20px;
	line-height: 20px;
	font-weight: normal;
}
hr {
	width: 415px;
	margin: 0 auto 20px;

}
ul {
	margin-right: 65px;
}
.arguments {
	margin-left: 85px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.argument {
	margin-top: 10px;
}
p, a {
	margin-left: 65px;
	margin-right: 65px;
	margin-top: 0;
}
a {
	margin-bottom: 20px;
	display: block;
}
