* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
.clear {
	clear: both;
}
.wrapper {
	margin: 0 auto;
	width: 910px;
	padding: 15px 45px 0;
}
.phone-icon {
	margin-left: 5px;
	margin-right: 5px;
	width: 22px;
	height: 21px;
	vertical-align: middle;
	display: inline-block;
	border-radius: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,0c3256+0,114165+59,206988+100 */
	background: #1e5799; /* Old browsers */
	background: -webkit-linear-gradient(#1e5799 0%, #0c3256 0%, #114165 59%, #206988 100%);
	background: -o-linear-gradient(#1e5799 0%, #0c3256 0%, #114165 59%, #206988 100%);
	background: linear-gradient(#1e5799 0%, #0c3256 0%, #114165 59%, #206988 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#206988',GradientType=0 ); /* IE6-9 */
}

.phone-icon:before {
	content: "";
	width: 22px;
	height: 21px;
	vertical-align: middle;
	display: inline-block;
	background: url(img/phone.png) 1px -2px no-repeat;
}
.phone {
	margin-right: 15px;
	float: left;
	font: 20px Arial;
	letter-spacing: -0.5px;
	color: #5e696d;
}
.autonotification {
	float: left;
	margin-top: -5px;
	padding: 0 7px;
	width: 480px;
	height: 25px;
	border-radius: 4px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,206988+0,114165+59,0c3256+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #206988 0%, #114165 59%, #0c3256 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#206988 0%,#114165 59%,#0c3256 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#206988 0%,#114165 59%,#0c3256 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#0c3256',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 3px 4px 0px rgba(150, 150, 150, 0.75);
	-moz-box-shadow:    1px 3px 4px 0px rgba(150, 150, 150, 0.75);
	box-shadow:         1px 3px 4px 0px rgba(150, 150, 150, 0.75);
	border-top: 1px solid #a6c3cf;
	border-bottom: 1px solid #596d80; 
	border-left: 1px solid #dce7ec; 
}
.man-icon {
	margin-right: 3px;	
}
.man-icon:before {
	content: "";
	background: url(img/man.png) -1px 2px no-repeat;
	display: inline-block;
	width: 14px;
	height: 20px;
	vertical-align: middle;
}
.autonotification input {
	margin-right: 8px;
	width: 110px;
	border-radius: 1px;
	border-top: 1px solid #d2dfe5;
	border-right: 1px solid #90a8b9;
	border-bottom: 1px solid #afbdc9;
	border-left: 1px solid #c8d4dc;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(155,161,163,1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(155,161,163,1);
	box-shadow: 0px 0px 1px 1px rgba(155,161,163,1);
	font: normal 12px/16px "Lucida Sans Unicode";
	color: #97a2a6;
}
.autonotification input:first-child {
	margin-right: 6px;
}
.autonotification button, .autonotification a {
	font: normal 11px/25px "Lucida Sans Unicode";
	color: #ffffff;
}
.autonotification button:hover, .autonotification a:hover {
	color: #bfbfbf;
	text-decoration: underline;
} 
.autonotification .line {
	margin: 0 5px;
	display: inline-block;
	height: 10px;
	width: 1px;
	background-color: #d3d9de;
	border-left: 1px solid #4a647d;
}
.autonotification button {
	background: none;
	border: none;
}
.autonotification a:last-child {
	margin-left: 20px;
}
.nav-small {
	margin-top: -3px;
	margin-left: 15px;
	padding: 0 0 0 10px;
	float: left;
	width: 65px;
	height: 20px;
	border-radius: 10px;
	border: 1px solid #c1c8cb;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(189, 196, 199, 1);
	-moz-box-shadow:    0px 1px 0px 0px rgba(189, 196, 199, 1);
	box-shadow:         0px 1px 0px 0px rgba(189, 196, 199, 1);
}
.nav-small li {
	padding-right: 9px;
	height: 20px;
	display: inline-block;
}
.nav-small li a {
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;

}
.home {
	width: 11px;
	height: 11px;
	background-image: url(img/linkhome.png);

}
.map {
	width: 14px;
	height: 11px;
	background-image: url(img/linkmap.png);
}
.letter {
	width: 12px;
	height: 11px;
	background-image: url(img/linkletter.png);
}
.main-photo {
	margin-top: 10px;
	width: 910px;
	height: 237px;
}
nav {
	margin-top: 3px;
	width: 908px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 5px;
	border-top: solid 1px #2c345a;
	border-right: solid 1px #0d1642;
	border-bottom: solid 1px #0a1030;
	border-left: solid 1px #6a6f89;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#576068+0,000000+100 */
	background: #576068; /* Old browsers */
	background: -moz-linear-gradient(top,  #576068 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #576068 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #576068 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576068', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
nav ul {
	margin-left: 133px;
	float: left;
}
nav ul li {
	display: inline-block;
}
nav ul a {
	padding: 2px 14px;
	font: normal 14px "Lucida Sans Unicode";
	letter-spacing: -0.5px;
	color: #b1bcc0;
}
nav ul li:hover a {
	border-radius: 12px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+50,114165+100,0c3256+100 */
	background: #2989d8; /* Old browsers */
	background: -moz-linear-gradient(top,  #2989d8 50%, #114165 100%, #0c3256 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2989d8 50%,#114165 100%,#0c3256 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2989d8 50%,#114165 100%,#0c3256 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#0c3256',GradientType=0 ); /* IE6-9 */
}
.basket {
	float: right;
	margin-right: 14px;
	font: normal 11px Arial;
	color: #929b9f;
}
.blue-color {
	font-size: 12px;
	color: #0d5a8f;
}
.basket span:nth-child(2) {
	margin-right: 15px;
	margin-left: 5px;
}
.blue-color:last-child {
	margin-left: 13px;
}
.basket-icon:before {
	content: "";
	margin-right: 8px;
	width: 21px;
	height: 17px;
	display: inline-block;
	background: url(img/basket.png) no-repeat;
}
.basket span {
	display: inline-block;
	vertical-align: middle;
}
.catalog, .left-bar h3 {
	display: inline-block;
}
.left-bar {
	width: 193px;
}
h3 {
	margin-top: 20px;
	margin-bottom: 15px;
	width: 180px;
	border-radius: 10px;
	border-top: 1px solid #8b979c;
	border-bottom: 1px solid #8c969a;
	border-left: 1px solid #89959a;
	border-right: 1px solid #9ea6a9;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(150,150,150,1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(150,150,150,1);
	box-shadow: 3px 3px 3px 0px rgba(150,150,150,1);
	font: normal 13px "Lucida Sans Unicode";
	color: #114165;
}
.catalog {
	margin-left: 3px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#206988+0,114165+59,207cca+100,0c3256+100 */
	background: #206988; /* Old browsers */
	background: -moz-linear-gradient(top,  #206988 0%, #114165 59%, #207cca 100%, #0c3256 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #206988 0%,#114165 59%,#207cca 100%,#0c3256 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #206988 0%,#114165 59%,#207cca 100%,#0c3256 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206988', endColorstr='#0c3256',GradientType=0 ); /* IE6-9 */
}
.catalog:before {
	content: "";
	margin: 0 4px;
	padding-bottom: 2px;
	vertical-align: middle;
	display: inline-block;
	background: url(img/catalog-image.png) no-repeat;
	width: 12px;
	height: 16px;
}
h5 {
	margin-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	display: block;
	width: 150px;
	border: 1px solid #79878d;
	border-radius: 12px;
	font: normal 15px "Lucida Sans Unicode";
	color: #114165;
}
.circle {
	margin-left: 3px;
	margin-right: 3px;
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background: url(img/circle.png) no-repeat;
}
.marker:before {
	content: "";
	margin-right: 5px;
	width: 8px;
	height: 8px;
	display: inline-block;
	background: url(img/marker.png) no-repeat;
}
.left-bar ul {
	margin-top: 5px;
}
.left-bar ul li {
	margin-left: 35px;
	margin-bottom: 7px;
}
.left-bar ul li:last-child {
	margin-bottom: 2px;
}
.left-bar ul li a {
	display: block;
	height: 18px;
	font: normal 13px/18px "Lucida Sans Unicode";
	text-decoration: none;
	color: #465961;	
}
.left-bar ul li a .menu-item-name {
	border-bottom: solid 2px transparent;
}
.left-bar ul li a:hover .menu-item-name{
	margin: 0;
	padding: 0;
	display: inline-block;
	font: italic bold 13px Arial;
	color: #0c3256;
	border-bottom: solid 2px #58697f;
}
ul li a:hover .marker:before {
	background: url(img/marker-hover.png) no-repeat;
	border-bottom: none;
}
.left-bar, .content, .right-bar {
	float: left;
}
.content {
	margin-top: 15px;
	padding: 16px 0px 5px 22px;
	width: 503px; 
	border-radius: 3px 2px 2px 3px;
	background: rgba(201,207,209,1);
	background: -moz-linear-gradient(top, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,207,209,1)), color-stop(100%, rgba(35,75,93,0.49)));
	background: -webkit-linear-gradient(top, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	background: -o-linear-gradient(top, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	background: -ms-linear-gradient(top, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	background: linear-gradient(to bottom, rgba(201,207,209,1) 0%, rgba(35,75,93,0.49) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cfd1', endColorstr='#234b5d', GradientType=0 );
	border-top: 1px solid #f3f4f4;
	border-left: 1px solid #f9f9fa;
	border-bottom: 1px solid #a1b3bb;
}
.content figure {
	float: left;
	margin-right: 29px;
	margin-bottom: 25px;
}
.box-for-image {
	width: 136px;
	height: 127px;
	display: block;
	border-left: 1px solid #a7b1b4;
	border-top: 1px solid #b0b9bc;
	border-right: 1px solid #aeb7ba;
	border-bottom: 1px solid #a7b1b4;
	border-radius: 8px;
	background-color: #fff;
}
.box-for-image img {
	margin: 3px auto;
	display: block;
}
.content figcaption {
	width: 137px;
	text-align: center;
	display: block;
	font: normal 13px/12px "Lucida Sans Unicode";
	color: #1f2528;
}
.content-link {
	width: 137px;
	text-align: center;
	display: block;
	font: normal 16px/14px "Lucida Sans Unicode";
	color: #206988;
}
.content .price {
	padding-top: 8px;
	width: 137px;
	text-align: center;
	display: inline-block;
	font: italic 17px/10px Arial;
	font-weight: bold;
	color: #114165;
}
.right-bar {
	margin-left: 9px;
	margin-top: -3px;
}
.right-bar .catalog {
	margin-right: 7px;
}
.right-bar h5 {
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 135px;
}
.right-bar input, .right-bar label {
	margin-left: 25px;
	font: normal 13px/13px "Lucida Sans Unicode";
	vertical-align: middle;
	color: #465961;
}
.right-bar button {
	margin-left: 25px;
}

input[type="checkbox"] {
	display: none;
}
label:before {
	margin-right: 15px;
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 11px;
	line-height: 13px;
	background-image: url(img/checkbox.png);
}
label {
	display: inline-block;
	cursor: pointer;
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 10px;
	color: black;
	text-align: center;
    line-height: 10px;
}
.checkbox {
	margin-left: 0;
	margin-bottom: 10px;
}
.right-bar button {
	margin-top: 10px;
	border-radius: 10px;
	width: 81px;
	height: 25px;
	border-top: 1px solid #7a95a1;
	border-bottom: 1px solid #697b8b;
	border-left: 1px solid #a7abae;
	border-right: 1px solid #a7abae;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#206988+0,114165+59,0c3256+100 */
	background: #206988; /* Old browsers */
	background: -moz-linear-gradient(top,  #206988 0%, #114165 59%, #0c3256 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #206988 0%,#114165 59%,#0c3256 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #206988 0%,#114165 59%,#0c3256 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#206988', endColorstr='#0c3256',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 3px 3px 0px rgba(190,192,193,1);
	-moz-box-shadow: 1px 3px 3px 0px rgba(190,192,193,1);
	box-shadow: 1px 3px 3px 0px rgba(190,192,193,1);
	font: normal 11px/25px Arial;
	vertical-align: middle;
	color: #e5e9ea;
}
.logo ul {
	margin-top: 36px;
	margin-bottom: 27px;
	text-align: center;
}
.logo ul li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 9px;
}
.logo ul li:last-child {
	margin-right: 0;
}
.logo a {
	display: block;
}
.toyo-tires {
	width: 83px;
	height: 20px;
	background: url(img/toyo-tires.png) no-repeat;
}
.bridgestone {
	width: 95px;
	height: 15px;
	background: url(img/bridgestone.png) no-repeat;
}
.continental-tire {
	width: 78px;
	height: 22px;
	background: url(img/continental-tire.png) no-repeat;
}
.cooper {
	width: 60px;
	height: 22px;
	background: url(img/cooper.png) no-repeat;
}
.avon {
	width: 77px;
	height: 15px;
	background: url(img/avon.png) no-repeat;
}
.tire-factory {
	width: 59px;
	height: 28px;
	background: url(img/tire-factory.png) no-repeat;
}
.pirelli {
	width: 61px;
	height: 16px;
	background: url(img/pirelli.png) no-repeat;
}
.dunlop {
	width: 72px;
	height: 11px;
	background: url(img/dunlop.png) no-repeat;
}
.footer {
	padding-bottom: 50px;
	border-top: 1px solid #242c3e;
	border-right: 1px solid #242a3c;
	border-left: 1px solid #223346;
	-webkit-box-shadow: 1px 0px 1px 0px rgba(126,130,140,1);
	-moz-box-shadow: 1px 0px 1px 0px rgba(126,130,140,1);
	box-shadow: 1px 0px 1px 0px rgba(126,130,140,1);
	background-color: #213a4d; 
}
.footer ul {
	text-align: center;
	padding-top: 8px;
}
.footer ul li {
	display: inline-block;
	padding: 0 12px;
	border-right: 1px solid #bec6c9;
	
}
.footer ul li:last-child {
	border-right: none;
}
.footer ul li a {
	display: block;
	font: normal 13px/13px Arial;
	color: #bec6c9;
}
.footer ul li a:hover {
	color: #52abcb;
}
.footer .developer-link {
	margin: auto;
	margin-top: 15px;
	display: block;
	text-align: center;
	font: normal 10px Arial;
	color: #7f4740;
}
