* {
	margin: 0;
	padding: 0;
}
a {
	list-style-type: none;
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin-left: 0;
}
.wrapper {
	margin: 0 auto;
	height: 540px;
	width: 500px;
}
td {
	border: 10px solid #483b31;
}
table {
	border-collapse: collapse;
	height: 540px;
	width: 500px;
	border: 10px solid #ffffff;
}
.yellow {
	background-color: #fffa60; 
}
.red {
	background-color: #ff5b2b;
}
.black {
	background-color: #15221d;
}
.blue {
	background-color: #155392;
}
