* {
	margin: 0;
	padding: 0;
}
a {
	list-style-type: none;
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin-left: 0;
}
@font-face {
    font-family: 'helveticaneuelight';
    src: url('helveticaneue-light-webfont.eot');
    src: url('helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-light-webfont.woff2') format('woff2'),
         url('helveticaneue-light-webfont.woff') format('woff'),
         url('helveticaneue-light-webfont.ttf') format('truetype'),
         url('helveticaneue-light-webfont.svg#helveticaneuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after {    
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
.wrapper {
	margin: 0 auto;
	height: 1063px;
	background-color: #ffffff;
}
.header {
	width: 100%;
	height: 35px;
	background: url(img/menuimage.png) 100% 100% repeat-x;
	background-size: contain;
}
.header ul {
	float: right;
	margin-right: 20px;
}
.header ul li {
	float: left;
}
.header ul {
	line-height: 35px;
	height: 35px;
}
.header li a {
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 10px;
	display: block;
	height: 25px;
	font: normal 14px 'helveticaneuelight', Tahoma, serif;
	color: #60b5ed;
}
.header li .flag:before {
	content: "";	
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 35px;
	background-image: url(img/flag.png); 
	width: 24px;
	height: 26px;

}
.header li .flag {
	padding-top: 5px;
	padding-right: 18px;
	padding-left: 15px;
	height: 30px;
	color: #ffffff;
}
.header .v-line {
	margin-top: 2px;
	float: left;
	display: inline-block;
	height: 30px;
	border-right: 1px solid #56a2dc;
}
.enter a {
	text-decoration: underline;
}
.header li a:hover {
	background-color: #4eabda;
	color: #ffffff;
}
.header .enter {
	font: normal 14px 'helveticaneuelight', Tahoma, serif;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
	color: #ffffff;
}
.header .enter a {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	display: inline-block;
	height: 24px;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
	color: #ffffff;
}
.header .enter {
	border: 1px solid #52a0da;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 33px;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #51b1dc 0%, #207cca 100%, #2e7ac4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#51b1dc 0%,#207cca 100%,#2e7ac4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #1e5799 0%,#51b1dc 0%,#207cca 100%,#2e7ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */
}
.header .enter:hover a {
	background: none;
}
.content {
	padding: 210px 0;
	background: url(img/fontimage.png) 100% 100% no-repeat;
	background-size: cover;
}
.content-inside {
	margin: 0 auto;
	z-index: 2;
	width: 560px;
	text-align: center;
	font: normal 14px 'helveticaneuelight', Tahoma, serif;
	color: #999999;
}
.content h3 {
	margin-bottom: 2px;
	padding-top: 20px;
	padding-bottom: 17px;
	font: normal 24px 'helveticaneuelight', Tahoma, serif;
	color: #ffffff;
	background: rgba( 0,0,0,0.63) 100% 100%;
	background-size: contain;
}
.content form {
	padding-top: 35px;
	padding-bottom: 17px;
	background: rgba( 0,0,0,0.63) 100% 100%;
	background-size: contain;
}
.form {
	margin: 0 142px;
}
.facebookbutton {
	margin: auto;
	padding-bottom: 33px;
	display: block;
	width: 276px;
	height: 35px;
	background: url(img/facebook.png) no-repeat;
}
form .or {
	margin-bottom: 29px;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	font: normal 14px 'helveticaneuelight', Tahoma, serif;
	color: #999999;
}
.or span {
	display: inline-block;
	position: relative;
}
.or span:before, .or span:after{
	content: "";
	position: absolute;
	vertical-align: middle;
	margin-top: 5px;
	top: 0;
	display: inline-block;
	height: 1px;
	background-color: #666666;
	border-bottom: 1px solid #000000;
	width: 9999px;
}
.or span:before {
	right: 100%;
	margin-right: 5px;
}
.or span:after {
	left: 100%;
	margin-left: 5px;
}
form input {
	margin: auto;
	margin-bottom: 17px;
	padding-left: 20px;
	display: block;
	width: 255px;
	height: 35px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,100f0e+0,111111+100 */
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(16,15,14,1) 0%, rgba(17,17,17,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(16,15,14,1) 0%,rgba(17,17,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(16,15,14,1) 0%,rgba(17,17,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
	border: none;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(71, 71, 71, 1);
	-moz-box-shadow:    0px 1px 0px 0px rgba(71, 71, 71, 1);
	box-shadow:         0px 1px 0px 0px rgba(71, 71, 71, 1);
	font: normal 14px 'helveticaneuelight', Tahoma, serif;
	color: #cccccc;
	text-shadow: 0px 5px 2px rgba(29, 26, 22, 0.2);
}
form input:focus {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,1e4a76+0,1f5384+99 */
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(30,74,118,1) 0%, rgba(31,83,132,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,74,118,1) 0%,rgba(31,83,132,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(30,74,118,1) 0%,rgba(31,83,132,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1f5384',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 0px 9px 6px rgba(47,123,197,0.77);
	-moz-box-shadow: 0px 0px 9px 6px rgba(47,123,197,0.77);
	box-shadow: 0px 0px 9px 6px rgba(47,123,197,0.77);
}
input[type="checkbox"] {
	display: none;
}
label:before {
	margin-right: 10px;
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	position: absolute;
	left: -10px;
	bottom: 1px;
	background-image: url(img/box.png);
}
label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 10px;
	font-size: 14px;
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 13px;
	color: black;
	text-align: center;
    line-height: 13px;
}
.checkbox {
	margin-left: -27px;
	padding-top: 4px;
}
input[type=submit] {
	margin-top: 23px;
	margin-bottom: 19px;
	padding-left: 0;
	width: 150px;
	height: 35px;
	border-radius: 3px;
	border: 1px solid #65a8e4;
	cursor: pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,50aedb+0,207cca+100,7db9e8+100,2e7ac4+100 */
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(80,174,219,1) 0%, rgba(32,124,202,1) 100%, rgba(125,185,232,1) 100%, rgba(46,122,196,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(80,174,219,1) 0%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%,rgba(46,122,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(80,174,219,1) 0%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%,rgba(46,122,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */
}
input[type=submit]:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,50aedb+0,207cca+100,7db9e8+100,2e7ac4+100 */
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(80,174,219,1) 0%, rgba(32,124,202,1) 100%, rgba(125,185,232,1) 100%, rgba(46,122,196,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(80,174,219,1) 0%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%,rgba(46,122,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(80,174,219,1) 0%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%,rgba(46,122,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */
	box-shadow: none;
}
form p {
	margin: 0 auto;
	font-size: 11px;
	line-height: 15px;
	width: 325px;
}